.ContextMenuRoot
{
	width: 100%;
	height: 100%;
}

#ContentPanel
{
	flow-children:down;
}

.ItemMenuButton
{
	width: 180px;
	height: 40px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 8px;
	background-color: #291818;
}

.ItemMenuButton:hover
{
	background-color: #443837;
}

.ItemMenuButton Label
{
	font-size: 16px;
	vertical-align: center;
	color: #acaaaa;
}

.ItemMenuButton:hover Label
{
	color: #eae9e9;
}